body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header { 
    background: #0ea5a4; 
    color: white; 
    padding: 12px; 
}

header nav a { 
    color: white; 
    margin-right: 10px; 
    text-decoration: none; 
}

main { 
    padding: 20px; 
}

footer { 
    background:#eee; 
    text-align:center; 
    padding:12px; 
    margin-top:20px;
}
